[submodule "deployment/scripts"]
	path = deployment/scripts
	url = git@ssh.github.com:Ishaaq-dev/scripts.git
[submodule "deployment/Remote-State"]
	path = deployment/Remote-State
	url = git@ssh.github.com:Ishaaq-dev/Remote-State.git
